body {
	margin: 0;
	font-family: arial;
}

/* HEADER */
header {
	height: 200px;
	text-align: center;
	background: navy;
	color: white;
	background-size:100%;
	background-position: center;
	background-image: url("images/bcn.jpg");
	padding: 0px 15px 0px 5px;
}

header h1 {
	font-family: calibri;
	font-size: 30pt;
	margin: 0px;
	padding: 50px 0px 25px 0px;
}

nav ul{
	margin: 0;
	display: inline;
	padding: 0px 0px 0px 15px;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 3px 12px;
}

nav ul li a {
	color: gold;
	text-decoration-line: none;
}

/*RESPONSIVE: HEADER */
@media screen and (max-width: 800px) {
	header {
		height:100px;
	}
	header h1 {
		display: inline-block;
	}
}

@media screen and (max-width: 675px) {
	header {
		height:50px;
	}
	header h1 {
		display: inline-block;
		padding: 5px;
		font-size: 20pt;
	}
}

/* MAIN BODY */
.bulk_section{

}

.leftcol {
	float: left;
	margin: 1%;
	padding: .5% 1%;
	width: 8%;
}

.middlecol {
	float: left;
	margin: 1%;
	padding: .5% 1%;
	width: 60%;
}

.rightcol {
	float: left;
	margin: 1%;
	padding: .5% 1%;
	width: 20%;
}

.bulk_section:after {
	clear:both;
}

/*RESPONSIVE: MAIN BODY */
@media screen and (max-width: 800px) {
	.leftcol {
		display:none;
	}
	.middlecol {
		width: 78%;
	}
	.rightcol {
		width:12%;
	}
}

@media screen and (max-width: 675px) {
	.rightcol {
		display: none;
	}
	.middlecol {
		width: 100%;
	}
}

/* FOOTER */
footer {
	background-image: url("images/portofino-restaurants.jpg");
	background-size:100%;
	background-position: center;
	height: 10px;
	padding:50px;	
	clear:both;
	text-align: center;
	font-style: italic;
}