body {
	margin: 0;
	font-family: arial;
}

header {
	height: 200px;
	text-align: center;
	background: navy;
	color: white;
	background-size:100%;
	background-position: center;
	background-image: url("images/portofino-restaurants.jpg");
	padding: 0px 15px 0px 5px;
}

header h1 {
	font-family: calibri;
	font-size: 30pt;
	margin: 0px;
	padding: 50px 0px 25px 0px;
}


nav ul{
	margin: 0;
	display: inline;
	padding: 0px 0px 0px 15px;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 3px 12px;
}

nav ul li a {
	color: white;
	text-decoration-line: none;
}

.bulk_section{
	background-image: url("portofino-restaurants.jpg");

}

.leftcol {
	float: left;
	margin: 1%;
	padding: .5% 1%;
	width: 8%;
}

.middlecol {
	float: left;
	margin: 1%;
	padding: .5% 1%;
	width: 60%;
}

.rightcol {
	float: left;
	margin: 1%;
	padding: .5% 1%;
	width: 20%;
}

.bulk_section:after {
	clear:both;
}

footer {
	padding:50px;
	clear:both;
	text-align: center;
	font-style: italic;
}