/* ======================== RESPONSIVE DESIGN ======================== */


@media screen and (max-width: 800px) { /* medium size */
	header {
		height:100px;
	}
	header #header_title {
		display: inline-block;
		padding: 25px 0px 25px 0px;
	}

	/*nav {
		display: inline-block;
	}*/

	nav #nav_left {
	padding: 0px 0px 0x 0px;
	display: inline-block;
	}

	nav #nav_right {
		padding: 0px 0px 0px 0px;
		display: inline-block;
	}

	.leftcol {
		display:none;
	}
	.middlecol {
		width: 78%;
	}
	.rightcol {
		width:13%;
	}
}



@media screen and (max-width: 675px) {  /* small size */
	header {
		height:50px;
	}
	header h1 {
		padding: 5px;
		font-size: 20pt;
		width: 75%;
	}
	nav ul{
		display:none;
	}

	nav #unroll_button {
		display:inline-block;
	}

	.top_row {
		margin: 0px;
	}
	.rightcol {
		display: none;
	}
	.middlecol {
		width: 100%;
		margin: 0px;
		padding: 0% 2%;
	}
}

