body {
	margin: 0;
}

header {
	background: #555;
	color: white;
	padding: 25px 15px 0px 5px;
}

header h1 {
	margin: 0;
	display: inline;
}

nav ul{
	margin: 0;
	display: inline;
	padding: 0px 0px 0px 15px;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	background: black;
	color: white;
	padding: 3px 12px;
}

nav ul li a {
	color: white;
}

.row:after {
	clear:both;
}
.leftcol {
	float: left;
	background: #999;
	margin: 1%;
	padding: .5% 1%;
	width: 8%;
	border-radius: 5px;
}

.middlecol {
	float: left;
	background: #999;
	margin: 1%;
	padding: .5% 1%;
	width: 60%;
	border-radius: 5px;
}

.rightcol {
	float: left;
	background: #999;
	margin: 1%;
	padding: .5% 1%;
	width: 20%;
	border-radius: 5px;
}

footer {
	clear:both;
}